

 .cart-delete-item  {
	margin-left: 2px;
    max-width: 20px;
    
} 

#video-embed {
    margin-bottom: 10px;
    padding: inherit;
    border: none !important;
}

.store-location-box iframe {
    width: 100%;
    height: 100%;
}